<div id="Header">

    <div id="Logo">
        <div id="LogoContent">
            <a href="/catalog/main"><img src="../../images/logo-topbar.gif"/></a>
        </div>
    </div>

    <div id="Menu" >
        <div id="MenuContent" >

            <a href="/cart/viewCart"><img align="middle" name="img_cart" src="../../images/cart.gif" /></a>

            <img align="middle" src="../../images/separator.gif" />

            <a id="signin" href="../../view/account/signin.html">Sign In</a>

<!--                <img align="middle" src="../../images/separator.gif" />-->

            <a id="signout" href="/account/signout" >Sign Out </a>

            <img align="middle" src="../../images/separator.gif" />

            <a href="/account/viewMyAccount">My Account</a>

            <img align="middle" src="../../images/separator.gif" />

        </div>
    </div>


    <div id="Search">
        <div id="SearchContent">
            <form action="/catalog/search" method="post">
                <input id ="searchbar" type="text" name="keyword" size="14"/>
                <input type="submit" name="searchProducts" value="Search"/>
                <span id="isLogin"></span>
            </form>
        </div>
    </div>


    <div id="QuickLinks">

        <img src="../../images/separator.gif"/>
        <img src="../../images/separator.gif"/>
        <a th:if="${session.allCategoryList.size()} == 0 ">No Categor</a>
        <span th:if="${session.allCategoryList.size()} > 0" >
            <span th:each="Category:${session.allCategoryList}">
                <a th:text="${Category.categoryId}" th:href="@{/catalog/viewCategory(categoryId=${Category.categoryId})}"></a>
                <img src="../../images/separator.gif"/>
            </span>
            <img src="../../images/separator.gif"/>
        </span>
    </div>
</div>