<div id="Header">

    <div id="Logo">
        <div id="LogoContent">
            <a href="../../view/catalog/catalog-main.html"><img src="../../images/logo-topbar.gif"/></a>
        </div>
    </div>

    <div id="Menu" >
        <div id="MenuContent" >

            <a href="../../view/cart/cart.html"><img align="middle" name="img_cart" src="../../images/cart.gif" /></a>

            <img align="middle" src="../../images/separator.gif" />

            <a id="signin" href="../../view/account/account-signin.html">Sign In</a>

<!--                <img align="middle" src="../../images/separator.gif" />-->

            <a id="signout" href="#" >Sign Out </a>

            <img align="middle" src="../../images/separator.gif" />

            <a id="getAccount" href="#" >My Account</a>

            <img align="middle" src="../../images/separator.gif" />

        </div>
    </div>


    <div id="Search">
        <div id="SearchContent">
            <form action="/catalog/search" method="post">
                <input id ="searchbar" type="text" name="keyword" size="14"/>
                <input type="submit" name="searchProducts" value="Search"/>
                <span id="isLogin"></span>
            </form>
        </div>
    </div>

    
    <script>
 
        
        function strToJson(str){
            var json = (new Function("return"+str))();
            return json;
        }

        // 搜索补全 
        $("#searchbar").autocomplete({

            source:
            // "searchThis?keyword="+$("#searchbar").val(),
                function (request,response){
                $.ajax({
                    type    : "GET",
                    url     : "http://localhost:8090/catalog/searchThis?keyword="+$("#searchbar").val(),
                    success : function (data){
                            // console.log(strToJson(data));
                            response(strToJson(data));
                    }
                })
            },
            minLength: 1,
        });
    </script>


    <div id="QuickLinks">

        <img src="../../images/separator.gif"/>
        <a href="../catalog/catalog-list.html?id=FISH&route=product" >FISH</a>
        <img src="../../images/separator.gif"/>

        <img src="../../images/separator.gif"/>
        <a href="../catalog/catalog-list.html?id=DOGS&route=product" >DOGS</a>
        <img src="../../images/separator.gif"/>

        <img src="../../images/separator.gif"/>
        <a href="../catalog/catalog-list.html?id=CATS&route=product" >CATS</a>
        <img src="../../images/separator.gif"/>

        <img src="../../images/separator.gif"/>
        <a href="../catalog/catalog-list.html?id=REPTILES&route=product" >REPTILES</a>
        <img src="../../images/separator.gif"/>

        <img src="../../images/separator.gif"/>
        <a href="../catalog/catalog-list.html?id=BIRDS&route=product" >BIRDS</a>
        <img src="../../images/separator.gif"/>

    </div>
</div>