<!doctype html>
<html lang="en">
<head>
    <%= require('../common/head.htm') %>
</head>

<body>
    
    <style>
        .okTips{
            color : green;
        }
        .errorTips{
            color : red;
        }
    </style>

    <%= require('../common/header.htm') %>
    <%= require('./account-forgetPassword.htm') %>
    <span id="errorMsg"></span>
    
<div id="BackLink">
    <a href="../../view/catalog/catalog-main.html">Return to Main Menu</a>
</div>


<form action="#" id="signInPasswordForm">
    <div id="Sign">
        <table align="center">
            <tr>
                <td>Username:</td>
                <td>
                    <input type="text"  name = "username"  id="signin_name" required="required">
                </td>
                <td id = "iEI"> <span id="isExistInfo"></span></td>
            </tr>         <br>
            <tr>
                <td >Password:</td>
                <td><input type="password" name = "password" id="signinpsw" required="required"></td>
                <td id="FGTPSW"><a id="FGTPSWmsg"> forget password?</a></td>
            </tr>
        <!--todo:验证码部分-->
        
            <tr>
                <td> Verification Code:</td>
                <td><input type="text" id="inputCode" required></td>
                
            </tr>
            <tr>
                <td> <img id="myImage" name="myImage" :src="myImage"></td>
                <td><a href="#" @click="myReload()">uncleary!change the image</a></td>
            </tr>
            <tr style="display: none" id="authCodeWrong">
                <td></td>
                <td> <span  id="authCodeWrong" class="errorTips">验证码有误！</span> </td>
            </tr>
       
            <tr>
                <td> <input type="button" value="Signin" id="btn" ></td>
                <td> <input type="button" value="through Phone" id="loginThroughPhone"></td>
            </tr>
            
        </table>
        
    </div>

</form>

<!--todo:手机号验证部分-->

<form action="#" method="post" id="signInPhoneForm">
    <div id="SignPhone">
        <table align="center">

            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>

            <tr>
                <td>PhoneNumber:</td>
                <td><input type="text" name="phoneNumber" id="phoneNumber" required="required"></td>

            </tr>

            <tr>
                <td>
                    <input type="button"id="phoneCode" value="Send phoneCode">
                </td>
                <td>
                    <input type="text" id="phoneVCode" name="inputVCode" value="">
                </td>
            </tr>

            <tr>
                <td> <input type="button" value="Signin"></td>
                <td> <input type="button" value="through Password" id="loginThroughPassword"></td>
            </tr>

        </table>
    </div>
</form>


<p align="center">
    Need a username and password?<a href="../account/account-register.html">Resgister Now!</a>
</p>

<%= require('../common/footer.htm') %>
    
</body>
</html>